<div class="container-back">
  <div class="container">
      <div class="header-button">
              <a [routerLink]="['signup']" class="header-button__reg-text">
                  <img class="header-button__reg-icon" src="/assets/icons/person.svg" alt="Войти"/>Войти
              </a>
          <div class="header-button__adv">
              <a [routerLink]="['createAdv']" class="header-button__adv-text" href="#">Новое объявление
                  <img class="header-button__adv-img" src="/assets/icons/plus.svg" alt="Добавить объявление"/>
              </a>
          </div>
      </div>
  </div>
</div>