.container{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #1E293B;
        margin:32px 0px 24px 0px;
    }
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
