<div class="navbar-line">
  <div class="navbar">
    <a [routerLink]="['/home']">
      <h1 class="navbar__title">Доска объявлений</h1>
    </a>
    <div class="navbar-categories">
      <a class="navbar-categories__text" href="#">
        <img class="navbar__categories-img" src="/assets/icons/list-nested.svg" alt="Категории"/>Все категории</a>
    </div>
    <form class="navbar-search">
        <input class="navbar-search__input" type="text" placeholder="Поиск по объявлениям">
        <button class="navbar-search__button" type="submit">Найти 
          <img class="icon-search" src="/assets/icons/search.svg" alt="Поиск"/>
        </button>
    </form>
  </div>
</div>